@import "tailwindcss";

@theme {
  --color-primary: #dc2626;  /* Rojo Grimm */
  --color-secondary: #991b1b; /* Rojo oscuro */
  --container-center: true;
  --container-padding: 2rem;
}

/* Estilos generales */
body {
  background-color: #111827;
  color: #ffffff;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}